* {margin:0; padding:0;}
body {font-size:13px; color:#000000; background:#1e9bdb;}
a {color:#1e9bdb;text-decoration:none;}
a:hover {color:#F00;text-decoration:none;}

.register_bk {
    width:820px;
    height:420px;
    background:url(page_bg.jpg);
    margin:50px auto;
    border:1px solid #FFF;
    border-radius:8px;
}

.register_text {margin:30px 100px 20px;
    color:#1e9bdb;font-family:"微软雅黑";}

.formwrapper {width:720px;
    height:325px;margin:10px auto;}

.formwrapper p {margin:10px 0;line-height:160%;}

.register_left {
    width:480px;
    float:left;
    margin-left:20px;
    padding:10px;
    border:1px solid #1e9bdb;
    background-image:-webkit-linear-gradient(top,#FFFFFF,#fefad7);
    border-radius:0px 0px 0px 30px;
}

.register_left div {
    clear:left;
    margin-bottom:2px;
}

.register_left label {
    float:left;
    width:120px;
    text-align:right;
    padding:4px;
    margin:1px;
}

input {padding:2px;margin:2px;}

input:focus {
    border:1px solid #0699ce;
    background: rgba(250, 250, 0, 0.5);
}

.register_right {
    width:150px;
    height:252px;
    float:left;
    margin-left:5px;
    text-align:center;
    line-height:268px;
    border:1px solid #1e9bdb;
    border-radius:0px 30px 0px 0px;
    background-image:-webkit-linear-gradient(top,#FFFFFF,#fefad7);
}

.button {
    margin-top:20px;
    padding:7px;
    border-radius:3px;
    border:1px #333 solid;
    background-color: #EEE;
    font-family:"黑体";
    color:#000;
}

.enter{text-align: center;}